<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
  <configSections>
    <section name="log"
             type="Evolutil.Library.Log.LogConfigurationSection,Evolutil.Library.Log" />
    <section name="log1"
             type="Evolutil.Library.Log.LogConfigurationSection,Evolutil.Library.Log" />
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration, Version=1.2.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <appSettings>
    <!-- Options are: Linq, AdoNet -->
    <add key="DataLayer" value="Linq"/>

    <!-- Options are: Local, Remote -->
    <add key="ServiceLayer" value="Local"/>
    
  </appSettings>
  
  <connectionStrings>
    <add name="Linq"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True"/>
    <add name="AdoNet"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True"/>
  </connectionStrings>

  <!-- severity. Options are: Debug, Info, Warning, Error, Warning, or Fatal -->
  <log fileName="log.log" severity="Debug" />
  <log1 fileName="log1.log" severity="Debug" />
   
  <unity configSource="unity.config" />

</configuration>

