<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="unity" 
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <!-- the file is copied by the build environment but it is not added to the project -->
  <unity configSource="UnityCfg.xml" />

</configuration>