<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="ASPNET.StarterKit.Portal" />
    <namespace name="ASPNET.StarterKit.Portal.SqlClient" />
    <namespace name="ASPNET.StarterKit.Portal.XmlFile" />
    <assembly name="PortalConfiguration" />
    <assembly name="PortalModules" />
    <assembly name="PortalSecurity" />

    <container>

      <instance name="connectionString" type="string" value="server=localhost\sqlexpress;Trusted_Connection=true;database=Portal" />

      <register type="IPortalSecurity" mapTo="PortalSecurity">
        <lifetime type="singleton" />
      </register>
      <register type="IModuleAuthorizationDb" mapTo="XmlModuleAuthorizationDb">
        <lifetime type="singleton" />
      </register>
      <register type="IUsersDb" mapTo="SqlUsersDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IRolesDb" mapTo="SqlRolesDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <!--<register type="IRolesDb" mapTo="XmlRolesDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="fileName" type="string" value="Data\Security.xml" />
        </constructor>
      </register>-->

      <register type="IConfigurationDb" mapTo="XmlConfigurationDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="configFile" type="string" value="PortalCfg.xml" />
        </constructor>
      </register>
      <register type="IPortalConfigurationDb" mapTo="XmlPortalConfigurationDb">
        <lifetime type="singleton" />
      </register>
      <register type="ITabConfigurationDb" mapTo="XmlTabConfigurationDb">
        <lifetime type="singleton" />
      </register>
      <register type="IModuleConfigurationDb" mapTo="XmlModuleConfigurationDb">
        <lifetime type="singleton" />
      </register>
      <register type="IModuleDefConfigurationDb" mapTo="XmlModuleDefConfigurationDb">
        <lifetime type="singleton" />
      </register>

      <register type="IAnnouncementsDb" mapTo="SqlAnnouncementsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IContactsDb" mapTo="SqlContactsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IDiscussionsDb" mapTo="SqlDiscussionsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IDocumentsDb" mapTo="SqlDocumentsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IEventsDb" mapTo="SqlEventsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IHtmlTextsDb" mapTo="SqlHtmlTextsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="ILinksDb" mapTo="SqlLinksDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>

    </container>
  </unity>

</configuration>