<?xml version="1.0"?>

<configuration>

  <appSettings>
    <add key="ConfigFile" value="PortalCfg.xml"/>
  </appSettings>
  
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient"
         connectionString="server=localhost\sqlexpress;Trusted_Connection=true;database=Portal" />
  </connectionStrings>


</configuration>