<configuration>

  <configSections>

    <section name="Database"
             type="ASPNET.StarterKit.Portal.ContainerConfigurator,PortalCSVS.Db" />
    
  </configSections>

  <Database connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\PortalDb.mdf;Integrated Security=True;User Instance=True" />      

  <!-- application specific settings -->
    <appSettings>        
        <add key="configFile" value="PortalCfg.xml" />
    </appSettings>
    
    <system.web>

        <!-- set debugmode to false for running application -->
        <compilation debug="true" />

        <!--The Portal Starter Kit supports either Forms authentication (Internet)
            or Windows authentication (for intranets).  Forms Authentication is
            the default.  To change to Windows authentication, comment the 
            <authentication mode="Forms"> section below, and uncomment the 
            <authentication mode="Windows"> section. -->
            
        <authentication mode="Forms">
            <forms name=".ASPXAUTH" protection="All" timeout="60" />
        </authentication>
        
        <!--<authentication mode="Windows" />
        <authorization>
            <deny users="?" />
        </authorization>-->
        
        <httpRuntime useFullyQualifiedRedirectUrl="true" />
         <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
        <pages validateRequest="true" /> 
    </system.web>
</configuration>
