<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bakopanos.NW.Data.Properties.Settings.NWConnectionString"
            connectionString="Data Source=|DataDirectory|\Samples.NW.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>