<?xml version="1.0"?>

<configuration>

  <configSections>

    <!-- module registration -->
    <section name="customer" type="DemoApp.CustomerModule,DemoAppCustomer" />
    <section name="buildStarter" type="DemoApp.BuildStarterModule,DempAppBuildStarter" />

  </configSections>


  <appSettings>
    <!-- enable/disable modules here... -->
    <add key="modules" value="customer;buildStarter" />
  </appSettings>


  <customer customerDataFile="Data/customers.xml" />

</configuration>