<?xml version="1.0"?>

<configuration>

  <configSections>

    <section name="customer" type="DemoApp.CustomerModule,DemoApp" />
    <section name="buildStarter" type="DemoApp.BuildStarterModule,DemoApp" />

  </configSections>


  <appSettings>
    <add key="modules" value="customer;buildStarter" />
  </appSettings>


  <customer customerDataFile="Data/customers.xml" />

</configuration>