<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <!-- application specific settings -->
  <appSettings>
    <add key="configFile" value="PortalCfg.xml" />
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">    
    <container>      
      <register type="ASPNETPortal.UnityModule,PortalConfiguration" mapTo="ASPNETPortal.UnityModule,PortalConfiguration">
        <lifetime type="singleton" />
      </register>      
    </container>
  </unity>

</configuration>