<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

  </appSettings>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Bakopanos.NW.Service.OrdersServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="Bakopanos.NW.Service.ProductsServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Bakopanos.NW.Service.OrdersServiceBehavior"
        name="Bakopanos.NW.Service.OrdersService">
        <endpoint address="" binding="wsHttpBinding" contract="Bakopanos.NW.Service.IOrdersService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Bakopanos.NW.Service/OrdersService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Bakopanos.NW.Service.ProductsServiceBehavior"
        name="Bakopanos.NW.Service.ProductsService">
        <endpoint address="" binding="wsHttpBinding" contract="Bakopanos.NW.Service.IProductsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/Bakopanos.NW.Service/ProductsService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
