<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="containerConfiguratorConfigFile" value="unity.config"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="3">
      <listeners>
        <add name="console"
             type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>