<?xml version="1.0"?>

<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->

<configuration>

  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient"
         connectionString="server=localhost\sqlexpress;Trusted_Connection=true;database=Portal" />
  </connectionStrings>

  <system.web>

    <httpModules>
      <add name="UnityModule" type="ASPNET.StarterKit.Portal.UnityHttpModule" />
    </httpModules>

    <!-- set debugmode to false for running application -->
    <compilation debug="true" targetFramework="4.0" />

    <!--The Portal Starter Kit supports either Forms authentication (Internet)
						or Windows authentication (for intranets).  Forms Authentication is
						the default.  To change to Windows authentication, comment the 
						<authentication mode="Forms"> section below, and uncomment the 
						<authentication mode="Windows"> section. -->

    <authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" timeout="60" />
    </authentication>

    <!--<authentication mode="Windows" />
				<authorization>
						<deny users="?" />
				</authorization>-->

    <httpRuntime useFullyQualifiedRedirectUrl="true" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages validateRequest="true" theme="Default" />

  </system.web>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="ASPNET.StarterKit.Portal" />
    <namespace name="ASPNET.StarterKit.Portal.SqlClient" />
    <namespace name="ASPNET.StarterKit.Portal.XmlFile" />
    <assembly name="PortalConfiguration" />
    <assembly name="PortalModules" />
    <assembly name="PortalSecurity" />

    <container>

      <instance name="connectionString" type="string"
                value="server=localhost\sqlexpress;Trusted_Connection=true;database=Portal" />
      
      <register type="IPortalSecurity" mapTo="PortalSecurity">
        <lifetime type="singleton" />
      </register>
      <register type="IModuleAuthorizationDb" mapTo="XmlModuleAuthorizationDb">
        <lifetime type="singleton" />
      </register>
      <register type="IUsersDb" mapTo="SqlUsersDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IRolesDb" mapTo="SqlRolesDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <!--<register type="IRolesDb" mapTo="XmlRolesDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="fileName" type="string" value="Data\Security.xml" />
        </constructor>
      </register>-->

      <register type="IConfigurationDb" mapTo="XmlConfigurationDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="configFile" type="string" value="PortalCfg.xml" />
        </constructor>
      </register>
      <register type="IPortalConfigurationDb" mapTo="XmlPortalConfigurationDb">
        <lifetime type="singleton" />
      </register>
      <register type="ITabConfigurationDb" mapTo="XmlTabConfigurationDb">
        <lifetime type="singleton" />
      </register>
      <register type="IModuleConfigurationDb" mapTo="XmlModuleConfigurationDb">
        <lifetime type="singleton" />
      </register>
      <register type="IModuleDefConfigurationDb" mapTo="XmlModuleDefConfigurationDb">
        <lifetime type="singleton" />
      </register>

      <register type="IAnnouncementsDb" mapTo="SqlAnnouncementsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IContactsDb" mapTo="SqlContactsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IDiscussionsDb" mapTo="SqlDiscussionsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IDocumentsDb" mapTo="SqlDocumentsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IEventsDb" mapTo="SqlEventsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="IHtmlTextsDb" mapTo="SqlHtmlTextsDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>
      <register type="ILinksDb" mapTo="SqlLinksDb">
        <lifetime type="singleton" />
        <constructor>
          <param name="connectionString" dependencyName="connectionString" dependencyType="string" />
        </constructor>
      </register>

    </container>
  </unity>

</configuration>