<?xml version="1.0"?>

<configuration>

  <configSections>

    <section name="customer" type="DemoApp.CustomerModule,DemoApp" />

  </configSections>


  <appSettings>
    <add key="modules" value="customer"/>
  </appSettings>


  <customer customerDataFile="Data/customers.xml" />

</configuration>