<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <!-- modules -->
    <section name="presentation" 
             type="DeadDevsSociety.PresentationLayer.Module,DeadDevsSociety.PresentationLayer"/>
    <section name="business"
         type="DeadDevsSociety.BusinessLayer.Module,DeadDevsSociety.BusinessLayer"/>
    <section name="data"
         type="DeadDevsSociety.DataLayer.Module,DeadDevsSociety.DataLayer"/>
    
  </configSections>

  <appSettings>
    <add key="modules" 
         value="presentation,business,data"/>
  </appSettings>
  
  <data connectionString="Data Source=UnityIntro.sdf" />

  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="console"
             type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>