<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <!-- modules -->
    <section name="presentation" 
             type="DeadDevsSociety.PresentationLayer.Module,DeadDevsSociety.PresentationLayer"/>
    <section name="business"
         type="DeadDevsSociety.BusinessLayer.Module,DeadDevsSociety.BusinessLayer"/>
    <section name="data"
         type="DeadDevsSociety.DataLayer.Module,DeadDevsSociety.DataLayer"/>
    
  </configSections>
  
</configuration>