<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAnnouncementService" />
        
        <binding name="BasicHttpBinding_IContactService" />
        
        <binding name="BasicHttpBinding_ILinkService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:14300/Services/AnnouncementService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnnouncementService"
          contract="Portal.Modules.Service.IAnnouncementService" name="BasicHttpBinding_IAnnouncementService" />
      
      <endpoint address="http://localhost:14300/Services/ContactService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactService"
          contract="Portal.Modules.Service.IContactService" name="BasicHttpBinding_IContactService" />
      
      <endpoint address="http://localhost:14300/Services/LinkService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILinkService"
          contract="Portal.Modules.Service.ILinkService" name="BasicHttpBinding_ILinkService" />
    </client>
  </system.serviceModel>
</configuration>