<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- all sections here -->
    <section name="Infrastructure.Repository" 
             type="FunqUnity.Infrastructure.Repository.ContainerConfigurator,FunqUnity.Infrastructure.Repository"/>
    <section name="Application"
             type="FunqUnity.Application.ContainerConfigurator,FunqUnity.Application"/>    
  </configSections>

  <appSettings>
    <!-- could load also automatic... TODO: enhance Bootstrapper -->
    <add key="ContainerConfiguration" value="Application;Infrastructure.Repository"/>
  </appSettings>

  <!-- a section can be of course used to inject config settings:-) -->
  <Infrastructure.Repository connectionString="Data Source=Database1.sdf" providerName="SqlCe" />
  
</configuration>