<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity"
              type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration, Version=1.1.0.0,
                 Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton"
           type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />
      <typeAlias alias="external"
           type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
               Microsoft.Practices.Unity" />
      <!-- User-defined type aliases -->      
    </typeAliases>
    <containers>
      <container>
        <types>
          <!-- Type mapping with no lifetime – defaults to "transient" -->
          <type type="Bakopanos.NW.DataObjects.IProductsDAO,Bakopanos" 
                mapTo="Bakopanos.NW.DataObjects.ProductsDAO,Bakopanos" />
          <type type="Bakopanos.NW.Facade.Products.IProductsFacade,Bakopanos"
                mapTo="Bakopanos.NW.Facade.Products.ProductsFacade,Bakopanos" />

          <!-- Modules -->
          <type type="Bakopanos.NW.WinClient.IMainModule,Bakopanos.WinClient"
                mapTo="Bakopanos.NW.WinClient.MainModule,Bakopanos.WinClient" />
                    
          <!-- Lifetime managers specified using the type aliases -->
          <type type="Bakopanos.NW.BusinessObjects.ProductAggregate,Bakopanos" 
                mapTo="Bakopanos.NW.BusinessObjects.ProductAggregate,Bakopanos">
            <lifetime type="singleton" />
          </type>

        </types>
        <extensions />
        <extensionConfig />
      </container>
      <!-- ... more containers here ... -->
    </containers>
  </unity>
</configuration>

