<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Infrastructure.Repository" 
             type="FunqUnity.Infrastructure.Repository.ContainerConfigurator,FunqUnity.Infrastructure.Repository"/>
    <section name="Application"
             type="FunqUnity.Application.ContainerConfigurator,FunqUnity.Application"/>    
  </configSections>

  <appSettings>
    <add key="ContainerConfiguration" value="Application;Infrastructure.Repository"/>
  </appSettings>

  <Infrastructure.Repository connectionString="Data Source=Database1.sdf"></Infrastructure.Repository>
  
</configuration>