<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="core"
             type="DeadDevsSociety.UnityIntro.CoreContainerConfigurator,UnityIntro"/>
    <section name="presentation" 
             type="DeadDevsSociety.UnityIntro.PresentationContainerConfigurator,UnityIntro"/>
    <section name="facade"
             type="DeadDevsSociety.UnityIntro.FacadeContainerConfigurator,UnityIntro"/>
    <section name="data"
             type="DeadDevsSociety.UnityIntro.DataContainerConfigurator,UnityIntro"/>
  </configSections>

  <core severity="Info" />  
  <data connString="abcd" />
</configuration>